/*main frame*/
.main{
    /*background image*/
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1024 768;
    -fx-background-position: center center;

    /*general text rules*/
    -fx-text-alignment : center;
    -fx-font-weight: bold;
    -fx-font-family: 'FTY DELIRIUM NEON NCV';
}

/*all labels*/
.label {
    -fx-alignment : center;
    -fx-text-fill: #DA4FDE;
    -fx-effect: dropshadow(one-pass-box, #DA4FDE, 80, 0, 0, 0);
}

/*all buttons*/
.button {
    -fx-background-color: null;
    -fx-font-size: 20;
    -fx-border-width: 3px;
}

/*buttons when hovered*/
.button:hover {
    -fx-border-width: 5px;
}

/*red glowing button*/
.systembutton {
    -fx-text-fill: #E8232D;
    -fx-border-color: #E8232D;
    -fx-effect: dropshadow(one-pass-box, #E8232D, 80, 0, 0, 0);
}

/*teal glowing button*/
.generalbutton {
    -fx-text-fill: #5AF2ED;
    -fx-border-color: #5AF2ED;
    -fx-effect: dropshadow(one-pass-box, #5AF2ED, 80, 0, 0, 0);
}

/*
//  PLAYER 1 colouring
*/

/*player 1 general styling*/
.player1 {
    -fx-text-fill: #9CFF9C;
    -fx-effect: dropshadow(one-pass-box, #9CFF9C, 80, 0, 0, 0);
}

/*score in player 1's slot*/
.player1 .label{
    -fx-font-size: 100;
    -fx-text-fill: #9CFF9C;
    -fx-effect: dropshadow(one-pass-box, #9CFF9C, 80, 0, 0, 0);
}

/*circle of player 1's slot*/
.player1 Circle{
    -fx-stroke: #9CFF9C;
}

/* player 1 radio buttons styling*/
.player1 .radio-button {
    -fx-text-fill: #9CFF9C;
    -fx-effect: dropshadow(one-pass-box, #9CFF9C, 80, 0, 0, 0);
}

/*player 1 radiobuttons buttons when selected*/
.player1 .radio-button:selected .radio {
    -fx-background-color: #9CFF9C;
}

/*player 1 radiobuttons buttons when hovered*/
.player1 .radio-button:hover .radio {
    -fx-background-color: #9CFF9C;
}

/*
//  PLAYER 2 colouring
*/

/*player 2 general styling*/
.player2 {
    -fx-text-fill: #5AF2ED;
    -fx-effect: dropshadow(one-pass-box, #5AF2ED, 80, 0, 0, 0);
}

/*score in player 2's slot*/
.player2 .label{
    -fx-font-size: 100;
    -fx-text-fill: #5AF2ED;
    -fx-effect: dropshadow(one-pass-box, #5AF2ED, 80, 0, 0, 0);
}

/*circle of player 2's slot*/
.player2 Circle{
    -fx-stroke: #5AF2ED;
}

/* player 2 radio buttons styling*/
.player2 .radio-button {
    -fx-text-fill: #5AF2ED;
    -fx-effect: dropshadow(one-pass-box, #5AF2ED, 80, 0, 0, 0);
}

/*player 2 radiobuttons buttons when selected*/
.player2 .radio-button:selected .radio {
    -fx-background-color: #5AF2ED;
}

/*player 2 radiobuttons buttons when hovered*/
.player2 .radio-button:hover .radio {
    -fx-background-color: #5AF2ED;
}

/*
//  LEGAL colouring
*/

/*legal general styling*/
.legal {
    -fx-text-fill: #F09F1D;
    -fx-effect: dropshadow(one-pass-box, #F09F1D, 80, 0, 0, 0);
}

/*score in legal slot*/
.legal .label{
    -fx-text-fill: #F09F1D;
    -fx-effect: dropshadow(one-pass-box, #F09F1D, 80, 0, 0, 0);
}

/*circle of legal slot*/
.legal Circle{
    -fx-stroke: #F09F1D;
}

/*
//  TITLE
*/
.titlepane {
    -fx-font-size: 90;
}

/*
//  MESSAGE
*/
.message{
    -fx-font-size: 30;
}

/*
//  SLOTS
*/

/*slots circles*/
.slots Circle{
    -fx-fill: null;
    -fx-stroke-width: 6px;
}

/*Slots label when hovered*/
.slots:hover .label{
    -fx-font-size: 104;
}

/*slots circles when hovered*/
.slots:hover Circle{
    -fx-stroke-width: 10px;
}

/*
//  SCORE PANELS
*/

/*Scoreboard name tags*/
.nametag{
    -fx-font-size: 40;
}

/*Scoreboard score tags*/
.scoretag{
    -fx-font-size: 80;
}

/*
//  TEXTFIELDS
*/
TextField {
    -fx-background-color: null;
    -fx-font-size: 40;
    -fx-text-fill: #DA4FDE;
    -fx-effect: dropshadow(one-pass-box, #DA4FDE, 80, 0, 0, 0);
}

/*
//  RADIO BUTTONS
*/

/* general radio buttons styling*/
.radio-button {
    -fx-alignment : center;
    -fx-font-size: 20;
}

/*Radio buttons labels when hovered*/
.radio-button:hover {
    -fx-font-size: 25;
}

/*general radiobuttons buttons styling*/
.radio-button .radio {
    -fx-background-color: null;
}

/*radiobuttons buttons when selected*/
.radio-button:selected .radio {
    -fx-border-radius: 130px;
}

/*radiobuttons buttons when hovered*/
.radio-button:hover .radio {
    -fx-border-radius: 130px;
}
