/*main frame*/
.main{
    /*background image*/
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1024 768;
    -fx-background-position: center center;

    /*general text rules*/
    -fx-text-alignment : center;
    -fx-font-weight: bold;
    -fx-font-family: 'FTY DELIRIUM NEON NCV';
}

/*all labels*/
.label {
    -fx-alignment : center;
    -fx-text-fill: #DA4FDE;
    -fx-effect: dropshadow(one-pass-box, #DA4FDE, 80, 0, 0, 0);
}

/*all buttons*/
.button {
    -fx-background-color: null;
    -fx-font-size: 20;
    -fx-border-width: 3px;
}

/*buttons when hovered*/
.button:hover {
    -fx-border-width: 5px;
}

/*red glowing button*/
.systembutton {
    -fx-text-fill: #E8232D;
    -fx-border-color: #E8232D;
    -fx-effect: dropshadow(one-pass-box, #E8232D, 80, 0, 0, 0);
}

/*teal glowing button*/
.generalbutton {
    -fx-text-fill: #5AF2ED;
    -fx-border-color: #5AF2ED;
    -fx-effect: dropshadow(one-pass-box, #5AF2ED, 80, 0, 0, 0);
}

/*
//  TITLE AND MENU BUTTON
*/

/*title section*/
.titlepane .label {
    -fx-font-size: 90;
}

/*
//  MESSAGE
*/
.message{
    -fx-font-size: 30;
}

/*
//  SLOTS
*/

/*slots circles*/
.slots Circle{
    -fx-fill: null;
    -fx-stroke-width: 6px;
}

/*Slots label when hovered*/
.slots:hover .label{
    -fx-font-size: 104;
}

/*slots circles when hovered*/
.slots:hover Circle{
    -fx-stroke-width: 10px;
}

/*Slots player 1*/
.slotpl1 {
    -fx-effect: dropshadow(one-pass-box, #9CFF9C, 80, 0, 0, 0);
}

/*score in player 1's slot*/
.slotpl1 .label{
    -fx-font-size: 100;
    -fx-text-fill: #9CFF9C;
}

/*circle of player 1's slot*/
.slotpl1 Circle{
    -fx-stroke: #9CFF9C;
}

/*Slots player 2*/
.slotpl2 {
    -fx-effect: dropshadow(one-pass-box, #5AF2ED, 80, 0, 0, 0);
}

/*score in player 2's slot*/
.slotpl2 .label{
    -fx-font-size: 100;
    -fx-text-fill: #5AF2ED;
}

/*circle of player 2's slot*/
.slotpl2 Circle{
    -fx-stroke: #5AF2ED;
}

/*Slots player 1*/
.legal {
    -fx-effect: dropshadow(one-pass-box, #F09F1D, 80, 0, 0, 0);
}

/*score in player 1's slot*/
.legal .label{
    -fx-text-fill: #F09F1D;
}

/*circle of player 1's slot*/
.legal Circle{
    -fx-stroke: #F09F1D;
}

/*
//  SCORE PANELS
*/

/*Player 1's whole scorepanel*/
.scorepanel1{
    -fx-text-fill: yellow;
    -fx-effect: dropshadow(one-pass-box, yellow, 80, 0, 0, 0);
}

/*Player 2's whole scorepanel*/
.scorepanel2{
    -fx-text-fill: #7F24E0;
    -fx-effect: dropshadow(one-pass-box, #7F24E0, 80, 0, 0, 0);
}

/*Scoreboard name tags*/
.nametag{
    -fx-font-size: 40;
}

/*Scoreboard score tags*/
.scoretag{
    -fx-font-size: 80;
}

/*
//  TEXTFIELDS
*/

TextField {
    -fx-background-color: null;
    -fx-font-size: 40;
    -fx-text-fill: #DA4FDE;
    -fx-effect: dropshadow(one-pass-box, #DA4FDE, 80, 0, 0, 0);
}

/*
//  RADIO BUTTONS
*/

.radio-button {
    -fx-alignment : center;
    -fx-font-size: 20;
    -fx-text-fill: #DA4FDE;
    -fx-effect: dropshadow(one-pass-box, #DA4FDE, 80, 0, 0, 0);
}

.radio-button:hover {
    -fx-font-size: 25;
}

.radio-button .radio {
    -fx-background-color: null;
}

.radio-button:selected .radio {
    -fx-background-color: #DA4FDE;
    -fx-border-radius: 130px;
}

.radio-button:hover .radio {
    -fx-background-color: #DA4FDE;
    -fx-border-radius: 130px;
}
