/*main frame*/
.main{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-text-alignment : center;
    -fx-text-fill: #DA4FDE; /*medium orchid*/
    -fx-font-size: 70;
    -fx-font-weight: bold;
    -fx-font-family: 'FTY DELIRIUM NEON NCV';
}

/*title section*/
.titled-pane {
    -fx-text-fill: #DA4FDE; /*medium orchid*/
    -fx-font-size: 100;
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box, #DA4FDE, 80, 0, 0, 0);
}

.titled-pane > .title {
    -fx-background-color : null;
}

/*Slots*/
.slots .label{
    -fx-background-color : rgba(0,0,0,0);
    -fx-text-fill: #DA4FDE; /*medium orchid*/
    -fx-alignment : center;
}

/*Boards indicating player name and score*/
.scores .label{
    -fx-background-color : rgba(0,0,0,0);
    -fx-alignment : center;
    -fx-text-fill: #DA4FDE; /*medium orchid*/
}