/*main frame*/
.main{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-text-alignment : center;
    -fx-text-fill: #DA4FDE; /*medium orchid*/
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-font-family: 'FTY DELIRIUM NEON NCV';
}

/*title section*/
.title{
    -fx-text-fill: #DA4FDE; /*medium orchid*/
    -fx-font-size: 100;
    -fx-alignment: center;
}

/*Slots*/
.slots .label{
    -fx-background-color : rgba(0,0,0,0);
    -fx-text-fill: #DA4FDE; /*medium orchid*/
    -fx-alignment : center;
}

/*vbox inside the scoreboard*/
.scores .scorepanel{
    -fx-border-color : #DA4FDE; /*medium orchid*/
    -fx-border-width : 10px;
}

/*Boards indicating player name and score*/
.scores .label{
    -fx-background-color : rgba(0,0,0,0);
    -fx-alignment : center;
    -fx-text-fill: #DA4FDE; /*medium orchid*/
}